<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103861998924-gs7m5orqm9u3o7vabtnjvk5u2a9boqmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103861998924-gs7m5orqm9u3o7vabtnjvk5u2a9boqmt</string>
	<key>API_KEY</key>
	<string>AIzaSyAxLMAwCCSJ5bxL3WmTC7Vyd8Vsal8lGEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>103861998924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.answersAi</string>
	<key>PROJECT_ID</key>
	<string>answers-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>answers-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103861998924:ios:56ecae1f7c23acbfd8ebe9</string>
</dict>
</plist>